@import "../base/fonts";

$MonstLight: "Montserrat-Light";
$MonstExtraB: "Montserrat-ExtraBold";
$HelLight: "HelveticaNeueCyr-Light";
$boldhel: "HelveticaNeueCyr-Bold";
$MonstBold: "Montserrat-Bold";
$MonstSemiBold: "Montserrat-SemiBold";
